@import url('https://fonts.cdnfonts.com/css/hurme-geometric-sans-2');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Hurme Geometric Sans 2', sans-serif;
    font-feature-settings: "rlig" 1, "calt" 1;
    color: #222121;
    background: #ffffff;
  }
  body { @apply antialiased; }
}

@layer utilities {
  .animate-in { animation-name: animateIn; animation-duration: 350ms; }
  .animate-out { animation-name: animateOut; animation-duration: 350ms; }
}
